@charset "utf-8";
/**
   * Description: CSS
   * Version: 1.0.0
   * Last update: 2017/08/20
   * Author: Duc PM <minhducpham.it@gmail.com>
   *
   * Summary:
   *
   *  0. ELEMENT
   *    - 0.1. TYPE ELEMENT
   *    - 0.2. TYPE ELEMENT
   *  1. ELEMENT
   *    - 1.1. TYPE ELEMENT
   *    - 1.2. TYPE ELEMENT
   */

/* Import Files
  ========================================================================== */
/*  Css */
@import url(../lib/bootstrap/bootstrap.min.css);
@import url(../lib/font-awesome/font-awesome.min.css);
@import url(../lib/carousel/owl.carousel.min.css);
@import url(../lib/flexslider/flexslider.css);

/* Fonts */
@font-face {
  font-family: 'Tahoma';
  src: url('../fonts/tahoma/Tahoma.eot');
  src: local('☺'), url('../fonts/tahoma/Tahoma.woff') format('woff'), url('../fonts/tahoma/Tahoma.ttf') format('truetype'), url('../fonts/tahoma/Tahoma.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Layout Style
  ========================================================================== */
html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  color: #414141;
  font: 14px Tahoma, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  word-break: break-word;
  line-height: 1.5;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #000000;
  outline: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover,
a:focus {
  color: #999999;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
p { margin: 0; }
select:focus, button:focus, input:focus { outline: none; }
.btn.focus, .btn:focus, .btn:hover {
  color: #333;
  text-decoration: none;
  outline: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline: none;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea, select, input[type="number"],
input[type="tel"] {
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.clearfix { clear: both; }

/* Commom
  ========================================================================== */
.block {
  margin-bottom: 30px;
  position: relative;
  display: block;
}
.block-breadcrumb .breadcrumb {
  background: transparent;
  margin-bottom: 0;
  padding: 0;
  margin-top: 20px;
}
.block-breadcrumb .breadcrumb li a {
  color: #333333;
}
.block-breadcrumb .breadcrumb li.active {
  color: #ff6600;
}
.block-breadcrumb .breadcrumb>li+li:before {
  padding: 0 5px;
  color: #333333;
  font-family: "FontAwesome";
  content: "\f178";
}

/* Block Header
  ========================================================================== */

/* Menu Top
  ========================================================================== */
.menu {
  position: relative;
}
.menu-top {
  background: #ff6600;
  border-bottom: 2px solid #b94a00;
}
.nav-menu>li {
  float: left;
  position: relative;
  display: block;
}
.nav-menu>li>a {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  padding: 0px 12px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.nav-menu>li:hover > a, .nav-menu>li.active a {
  background: #ff781e;
  -webkit-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  -ms-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.nav-menu > li.parent > a:after {
  font-family: 'Fontawesome';
  color: #fff;
  font-size: 12px;
  content: "\f107";
  display: inline-block;
  height: 3px;
  width: 5px;
  margin: 0 0 0 10px;
  vertical-align: 2px;
}
.nav-menu .submenu li {
  display: block;
  position: relative;
  text-transform: capitalize;
}
.nav-menu .submenu {
  background: #fff;
  display: block;
  position: absolute;
  top: 100%;
  font-size: 14px;
  width: 300px;
  border-left: 1px solid #ff781e;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  z-index: 99;
  visibility: hidden ;
  -webkit-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  -o-transform: translate(0, 10px);
  transform: translate(0, 10px);
  -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
}
.nav-menu .submenu li a {
  display: block;
  line-height: 40px;
  padding-left: 20px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  position: relative;
  color: #333333;
}
.nav-menu .submenu li.parent > a:before {
  content: "\f105";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 12px;
}
.nav-menu .submenu .submenu {
  left: 100%;
  top: 0;
}
.nav-menu > li:hover > .submenu {
  visibility: visible;
  opacity: 1;
  top: 41px;
  -webkit-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  -o-transform: translate(0, 0px);
  transform: translate(0, 0px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav-menu .submenu li:hover .submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0, 0px);
  -ms-transform: translate(0, 0px);
  -o-transform: translate(0, 0px);
  transform: translate(0, 0px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav-menu li > .submenu > li:hover,
.nav-menu li > .submenu .submenu > li:hover {
  background: #ff781e;
}
.nav-menu li > .submenu > li:hover > a,
.nav-menu li > .submenu .submenu > li:hover > a {
  color: #fff;
}
.search-mb {
  display: none !important;
}


/* Footer
  ========================================================================== */
footer {
  padding: 40px 0;
  background: #0f1416;
}

/* Back To Top
  ========================================================================== */
.td-scroll-up {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 5px;
  width: 40px;
  height: 40px;
  background-color: #fb7c28;
  z-index: 1;
  transform: translate3d(0, 70px, 0);
  -webkit-transform: translate3d(0, 70px, 0);
  -moz-transform: translate3d(0, 70px, 0);
  -ms-transform: translate3d(0, 70px, 0);
  -o-transform: translate3d(0, 70px, 0);
  -webkit-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  -moz-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  -o-transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  transition: transform 0.4s cubic-bezier(0.55, 0, 0.1, 1) 0s;
}
.td-scroll-up-visible {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}
.td-scroll-up i {
  position: relative;
  color: #fff;
  font-size: 25px;
  display: block;
  text-align: center;
  width: 40px;
  top: 7px;
}
.td-scroll-up:hover {
  color: #fff;
  background: #ff6600;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}



.nav-toogle {
  position: absolute;
  top: 40px;
  left: 100%;
  display: none;
}
.nav-toogle i {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  background: #ff6600;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.nav-toogle i:before {
  content: "\f0c9";
  font-family: "FontAwesome";
  color: #fff;
}
.nav-toogle.has-open i:before {
  content: "\f00d";
}
.nav-toogle.has-open:after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
}
.ft-contact address p a {
  color: #ff6600 !important;
}
/*.ft-contact address p a:hover {
  color: #ff6600;
}*/